body {
	font-family: avenir;
	font-weight: normal;
}

#cross {
	font-size: 200px;
	text-align: center;
	display: none;
}

#circles {
	margin: 50px 100px;
	display: flex;
	justify-content: space-between;
}

#circle1, #circle2 {
	width: 250px;
	height: 250px;
	border-radius: 100%;
	display: none;
}

#circle1 {
	background-color: blue;
	float: left;
}

#circle2 {
	background-color: orange;
	float: right;
}

.progress {
	background: white;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	text-align: center;
}

.progress button {
	font-size: 48px;
	padding: 20px 40px;
}

.hidden {
	display: none;
}
