body {
	font-family: avenir;
	font-weight: normal;
}

#cross {
	font-size: 200px;
	text-align: center;
	display: none;
}

#circles {
	margin: 50px 100px;
	display: flex;
	justify-content: space-between;
}

#circle1, #circle2 {
	width: 250px;
	height: 250px;
	border-radius: 100%;
	display: none;
}

#circle1 {
	background-color: blue;
	float: left;
}

#circle2 {
	background-color: orange;
	float: right;
}